permalink: docs.html
title: Skeleton UI | Documentation
---
<!-- BEGIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="sixteen columns">
        <h1 class="remove-bottom tighten">Documentation</h1>
        <h3 class="dim40 text100 subheading add-bottom">And Credits</h3>

        <p>While this package includes the full demo you see here, the <a href="http://sass-lang.com/" rel="external">SASS</a> source (also requires <a href="http://compass-style.org/" rel="external">Compass</a>) is where it all is. If for any reason you don't want to load any specific piece of Skeleton UI, just remove its include from <a href="https://github.com/simplethemes/skeleton-ui/blob/master/sass/screen.scss" rel="external">screen.scss</a></p>

        <p>Skeleton UI uses some jQuery and a few lightweight plugins to help with various elements.<br />
            The links below give credit where it's due, as well as provide you with an explanation of the code found in this demo.</p>
        <ul>
            <li><a href="http://jquery.com/" rel="external">jQuery</a> <span class="small dim50">Um...</span></li>
            <li><a href="http://modernizr.com/" rel="external">Modernizr</a> <span class="small dim50">Helps crappy browsers understand HTML5</span> <span class="small dim30">(modernizr-2.6.2.min.js)</span></li>
            <li><a href="https://github.com/jackmoore/jackmoore.github.com/blob/master/demo/tabs.html" rel="external">Simple Tabs</a> <span class="small dim50">Stupid Simple Tabs</span> <span class="small dim30">(main.js)</span></li>
            <li><a href="https://github.com/joeldbirch/superfish/" rel="external">Superfish Menus</a> <span class="small dim50">Dropdown submenu navigation</span> <span class="small dim30">(jquery.superfish.js)</span></li>
            <li><a href="http://formalize.me/" rel="external">Formalize</a> <span class="small dim50">Cross-browser form consitency</span> <span class="small dim30">(jquery.formalize.js)</span></li>
            <li><a href="http://buckwilson.me/lightboxme/" rel="external">Lightbox.me</a> <span class="small dim50">Super lightweight modal popup</span> <span class="small dim30">(jquery.lightbox_me.js)</span></li>
            <li><a href="http://webdesignerwall.com/tutorials/mobile-navigation-design-tutorial" rel="external">Mobile Nav</a> <span class="small dim50">Responsive Navigation</span> <span class="small dim30">(main.js)</span></li>
            <li><a href="http://www.codicode.com/art/the_best_sticky_footer.aspx" rel="external">Sticky Footer</a> <span class="small dim50">Stick the footer to the bottom of the page.</span> <span class="small dim30">(main.js)</span></li>
            <li><a href="http://softwaremaniacs.org/soft/highlight/en/" rel="external">Highlight.js</a> <span class="small dim50">(just for demo. remove it)</span> <span class="small dim30">(document head)</span></li>
            <li><a href="http://www.phrozn.info/" rel="external">Phrozn</a> <span class="small dim50">Special thanks for providing a tool for the gh-pages/demo branch.</span></li>
        </ul>

        </div>
    </div>
    <!-- /row -->
</div>

<!-- END CONTENT -->