permalink: docs.html
title: Skeleton UI | Documentation
---
<!-- BEGIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="sixteen columns">
        <h1 class="tighten huge">Documentation</h1>

        <p>Typography is a tricky beast.</p>

        <h1>Heading 1</h1>
        <p>At nec ferri signiferumque. Sit no vocent detracto corrumpit, dolor sensibus sed ex. Sit esse aperiam virtute no. Ea cum dicta alienum, repudiare pertinacia liberavisse nec cu.</p>
        <h2>Heading 2</h2>
        <p>Pro stet propriae ullamcorper cu. Ea eam sale delectus officiis, cu petentium efficiantur pri. Ex mel velit maiorum pertinax. Eu his senserit suavitate. Cu putent intellegat mea, id omnesque facilisis eum. Vix splendide inciderint ne.</p>
        <h3>Heading 3</h3>
        <p>Ex aliquid maluisset vim, pro ea hinc dolorem intellegam. Cu nam intellegat comprehensam, ad epicuri oporteat mel. Ei ferri corpora nam, probo homero hendrerit ei his. Deleniti apeirian referrentur ea duo, ornatus interesset pro ne, at pri dico recusabo.</p>
        <h4>Heading 4</h4>
        <p>Vidisse salutandi gloriatur vim at, melius vidisse forensibus usu ex. Usu eros nostrud dolorum ea, id omnis detracto nec. Est tale mazim mentitum te. Soluta vocibus epicuri at usu.</p>
        <h3>blockquote</h3>

        <blockquote>
            <p>Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element.</p>
        </blockquote>

        <blockquote>Even better philosophical quote marked up with just a &lt;blockquote> element.</blockquote>

        <h3>ordered list</h3>

        <ol>
            <li>list item 1</li>
            <li>list item 1
                <ol>
                    <li>list item 2</li>
                    <li>list item 2
                        <ol>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ol>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ol>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ol>

        <h3>unordered list</h3>

        <ul>
            <li>list item 1</li>
            <li>list item 1
                <ul>
                    <li>list item 2</li>
                    <li>list item 2
                        <ul>
                            <li>list item 3</li>
                            <li>list item 3</li>
                        </ul>
                    </li>
                    <li>list item 2</li>
                    <li>list item 2</li>
                </ul>
            </li>
            <li>list item 1</li>
            <li>list item 1</li>
        </ul>

        <h3>description list</h3>

        <dl>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dd>Description value</dd>
            <dd>Description value</dd>
            <dt>Description name</dt>
            <dt>Description name</dt>
            <dd>Description value</dd>
        </dl>

</div>
</div>

<h2>Tables</h2>

<div class="row add-top">
    <div class="sixteen columns">
        <!-- Tables -->
        <table class="table">
            <thead>
                <tr>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                    <th>Table Heading</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
                <tr>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                    <td>Table Data</td>
                </tr>
            </tbody>
        </table>

      </div>
      <!-- /.sixteen -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="eight columns">
        <!-- Utility Shades -->
        <p class="dim10 pad5">This paragraph uses the <span class="c">.dim10</span> class</p>
        <p class="dim20 pad5">This paragraph uses the <span class="c">.dim20</span> class</p>
        <p class="dim30 pad5">This paragraph uses the <span class="c">.dim30</span> class</p>
        <p class="dim40 pad5">This paragraph uses the <span class="c">.dim40</span> class</p>
        <p class="dim50 pad5">This paragraph uses the <span class="c">.dim50</span> class</p>
        <p class="dim60 pad5">This paragraph uses the <span class="c">.dim60</span> class</p>
        <p class="dim70 pad5">This paragraph uses the <span class="c">.dim70</span> class</p>
        <p class="dim80 pad5">This paragraph uses the <span class="c">.dim80</span> class</p>
        <p class="dim90 pad5">This paragraph uses the <span class="c">.dim90</span> class</p>
        </div><!-- /eight -->
        <div class="eight columns">
        <p class="dim60 bgdim10 rnd pad5">This paragraph uses the <strong>.bgdim10</strong> class</p>
        <p class="dim60 bgdim20 rnd pad5">This paragraph uses the <strong>.bgdim20</strong> class</p>
        <p class="dim60 bgdim30 rnd pad5">This paragraph uses the <strong>.bgdim30</strong> class</p>
        <p class="dim10 bgdim40 rnd pad5">This paragraph uses the <strong>.bgdim40</strong> class</p>
        <p class="dim20 bgdim50 rnd pad5">This paragraph uses the <strong>.bgdim50</strong> class</p>
        <p class="dim30 bgdim60 rnd pad5">This paragraph uses the <strong>.bgdim60</strong> class</p>
        <p class="dim30 bgdim70 rnd pad5">This paragraph uses the <strong>.bgdim70</strong> class</p>
        <p class="dim40 bgdim80 rnd pad5">This paragraph uses the <strong>.bgdim80</strong> class</p>
        <p class="dim50 bgdim90 rnd pad5">This paragraph uses the <strong>.bgdim90</strong> class</p>
        </div>
    </div>
    <!-- /row -->



        </div>
    </div>
</div>

<!-- END CONTENT -->