permalink: docs.html
title: Skeleton UI | Documentation
---
<!-- BEGIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="sixteen columns">
        <h1 class="remove-bottom tighten">Documentation</h1>

        </div>
    </div>
    <!-- /row -->
</div>

<!-- END CONTENT -->