permalink: forms.html
title: Skeleton UI | Forms
---
<!-- BEGIN CONTENT -->

<div class="container">
    <div class="row">
        <div class="sixteen columns">
            <h1>Form Styles</h1>
            <p>Form markup shouldn't be complicated.</p>
            <form>
                <div class="horizontal-form">
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                </div>
                <div class="split-form">
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                    <p>
                        <label for="name">Text Input:</label>
                        <input type="text" name="name" id="name" value="" tabindex="1" />
                    </p>
                </div>

                <div class="split-form">
                    <h4>Radio Buttons</h4>
                    <p>
                    <label for="radio-choice-1">Choice 1
                    <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />
                    </label>
                    </p>
                    <p>
                    <label for="radio-choice-2">Choice 2</label>
                    <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />

                    </p>
                </div>

                <div>
                    <label for="select-choice">Select Dropdown Choice:</label>
                    <select name="select-choice" id="select-choice">
                        <option value="Choice 1">Choice 1</option>
                        <option value="Choice 2">Choice 2</option>
                        <option value="Choice 3">Choice 3</option>
                    </select>
                </div>

                <div>
                    <label for="textarea">Textarea:</label>
                    <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
                </div>

                <div>
                    <label for="checkbox">Checkbox:</label>
                    <input type="checkbox" name="checkbox" id="checkbox" />
                </div>

                <div>
                    <input type="submit" value="Submit" />
                </div>
            </form>P
        </div>
    </div>
    <!-- /row -->
</div><!-- /container -->

<!-- END CONTENT -->