layout: default.twig
title: Skeleton UI
---
<!-- BEGIN CONTENT -->
        <div class="container">
            <div class="row">

                <div class="sixteen columns">
                    <h1 class="remove-bottom tighten">Responsive UI Boilerplate</h1>
                    <h3 class="subheading normal dim50">for Skeleton</h3>
                    <p><strong>Skeleton&thinsp;UI</strong> is a collection of user interface utility styles built on top of the great <a href="http://www.getskeleton.com/" rel="external">Skeleton</a> grid which is a <em>"<s><a href="https://github.com/dhgamache/Skeleton/pull/89" rel="external">Beautiful</a></s> Boilerplate for Responsive, Mobile-Friendly Development"</em>.
                        This package aims to be slim and as bloat-free as possible, but adds on a few easily customizeable <abbr title="User Interface">UI</abbr> elements.</p>

                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="eight columns">
                    <div class="outset clearfix">
                    <h3>Responsive</h3>
                    <p>Of course, Skeleton&thinsp;UI is responsive by default. However, with the power of SASS you can easily customize your gutters and columns and omit any classes you don't intend on using. Skeleton UI also includes a handy set of percentage-based fractional column classes to help in those tricky situations.</p>
                    <a href="http://responsive.is/simplethemes.github.com/skeleton-ui/demo/" rel="external" class="btn blue pull-right">View the Grid Demo</a>
                    </div>
                </div>
                <div class="eight columns">
                    <div class="outset clearfix">
                    <h3>SASS Powered</h3>
                    <p>Sass makes CSS fun again. Sass is an extension of CSS3, adding nested rules, variables, mixins, selector inheritance, and more. It’s translated to well-formatted, standard CSS using the command line tool or a web-framework plugin.</p>
                    <br />
                    <a href="docs.html" class="btn blue pull-right">Find Out More</a>
                    </div>
                </div>
            </div>
            <!-- /row -->

            <div class="row">
                <div class="sixteen columns">
                    <ul class="tabs">
                        <li><a href="#tab1">Tab 1</a></li>
                        <li><a href="#tab2">Tab 2</a></li>
                        <li><a href="#tab3">Tab 3</a></li>
                    </ul>
                    <div class="tabcontainer">
                    <div id="tab1">
                        <h4 class="remove-top-bottom">Section 1</h4>
                        <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                    <div id="tab2">
                        <h4 class="remove-top-bottom">Section 2</h4>
                        <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                    <div id="tab3">
                        <h4 class="remove-top-bottom">Section 3</h4>
                        <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    </div>
                    </div>
                </div>
                <!-- /sixteen.columns -->
            </div>
            <!-- /row -->


        </div><!-- /container -->
<!-- END CONTENT -->