permalink: tabs.html
title: Skeleton UI | Tabs
---
<!-- BEGIN CONTENT -->
<div class="container">
    <div class="row">
        <div class="sixteen columns">
        <h1 class="remove-bottom tighten">Tabs</h1>
        <h3 class="dim40 text100 subheading add-bottom">Clean &amp; Simple</h3>

            <ul class="tabs">
                <li><a href="#tab1">Tab 1</a></li>
                <li><a href="#tab2">Tab 2</a></li>
                <li><a href="#tab3">Tab 3</a></li>
            </ul>
            <div class="tabcontainer">
            <div id="tab1">
                <h4 class="remove-top-bottom">Section 1</h4>
                <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            </div>
            <div id="tab2">
                <h4 class="remove-top-bottom">Section 2</h4>
                <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            </div>
            <div id="tab3">
                <h4 class="remove-top-bottom">Section 3</h4>
                <p class="remove-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            </div>
            </div>
            <h3>Source:</h3>
<pre><code>&lt;ul class=&quot;tabs&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#tab1&quot;&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tab2&quot;&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#tab3&quot;&gt;Tab 3&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div class=&quot;tabcontainer&quot;&gt;
&lt;div id=&quot;tab1&quot;&gt;
    &lt;h4 class=&quot;remove-top-bottom&quot;&gt;Section 1&lt;/h4&gt;
    &lt;p class=&quot;remove-top&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.&lt;/p&gt;
&lt;/div&gt;
&lt;div id=&quot;tab2&quot;&gt;
    &lt;h4 class=&quot;remove-top-bottom&quot;&gt;Section 2&lt;/h4&gt;
    &lt;p class=&quot;remove-top&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.&lt;/p&gt;
&lt;/div&gt;
&lt;div id=&quot;tab3&quot;&gt;
    &lt;h4 class=&quot;remove-top-bottom&quot;&gt;Section 3&lt;/h4&gt;
    &lt;p class=&quot;remove-top&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis placerat dolor id aliquet. Sed a orci in justo blandit commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>

      </div>
      <!-- /.sixteen -->
    </div>
    <!-- /.row -->

        </div>
    </div>
</div>

<!-- END CONTENT -->