<div id="footer">
	<div class="container">
		<div class="four columns">
			<h6>Footer Column One</h6>
		</div>
		<div class="four columns">
			<h6>Footer Column Two</h6>
		</div>
		<div class="four columns">
			<h6>Footer Column Three</h6>
		</div>
		<div class="four columns">
			<h6>Footer Column Four</h6>
		</div>
		<div class="sixteen columns small aligncenter dim50 equal">
			&copy; 2013 <a href="http://www.simplethemes.com">simple themes</a>
		</div>
	</div>
</div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>