<ul>
    <li><a href="index.html"></a></li>
    <li{% if this.permalink == 'typography.html' %} class="active"{% endif %}><a href="typography.html">Typography</a></li>
    <li{% if this.permalink == 'buttons.html' %} class="active"{% endif %}><a href="buttons.html">Buttons</a></li>
    <li{% if this.permalink == 'grid.html' %} class="active"{% endif %}><a href="grid.html">Grid &amp; Examples</a></li>
    <li><a href="http://www.simplethemes.com/blog/entry/skeleton-wordpress-theme" rel="external" title="Skeleton WordPress Theme">WordPress</a></li>
    <li><a href="http://simplethemes.github.com/skeleton-ui/">Github Repo</a></li>
</ul>