<ul class="sf-menu">
    <li><a href="index.html"></a></li>
    <li{% if this.permalink == 'typography.html' %} class="active"{% endif %}><a href="typography.html">Typography</a></li>
    <li{% if this.permalink == 'buttons.html' %} class="active"{% endif %}><a href="buttons.html">Buttons</a></li>
    <li{% if this.permalink == 'grid.html' %} class="active"{% endif %}><a href="grid.html">Grid</a></li>
    <li{% if this.permalink == 'docs.html' %} class="active"{% endif %}><a href="docs.html">Documentation</a>
    <ul>
    <li><a href="https://github.com/simplethemes/skeleton-ui">Github Repo</a></li>
    <li><a href="#">Submenu Item1</a></li>
    <li><a href="#">Submenu Item2</a></li>
    <li><a href="#">Submenu Item3</a></li>
    </ul>
    </li>
    <li><a href="http://www.simplethemes.com/blog/entry/skeleton-wordpress-theme" rel="external" title="Skeleton WordPress Theme">WordPress</a></li>
</ul>