// allows the text color to be customized
$color: hsl(0, 0, 100%) !default;

@mixin simple-button ($base-hue, $base-saturation, $base-lightness, $color) {

  $start-gradient: tint(hsl($base-hue, $base-saturation, $base-lightness), 10%);
  $stop-gradient: shade(hsl($base-hue, $base-saturation, $base-lightness), 15%);
  $border: shade(hsl($base-hue, $base-saturation, $base-lightness), 10%);

  $inset-shadow: tint(hsl($base-hue, $base-saturation, $base-lightness), 20%);
  $text-shadow: shade(hsl($base-hue, $base-saturation, $base-lightness), 30%);

  $text-shadow-h-offset: 0;
  $text-shadow-v-offset: -1px;
  $text-shadow-blur: 0;


  // for light buttons
  @if $base-lightness > 70% {
    // lighten the text shadow and offset light direction
    $border: darken(hsl($base-hue, $base-saturation, $base-lightness), 10%);
    $inset-shadow: lighten(hsl($base-hue, $base-saturation, $base-lightness), 20%);
    $text-shadow: lighten(hsl($base-hue, $base-saturation, $base-lightness), 10%);
    $start-gradient: lighten(hsl($base-hue, $base-saturation, $base-lightness), 10%);
    $stop-gradient: darken(hsl($base-hue, $base-saturation, $base-lightness), 10%);
    $text-shadow-v-offset: 1px;
  }


  color: $color !important;
  font-size: 14px;
  line-height: 1.5;
  padding: .32em 1.25em;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid $border;
  @include single-text-shadow($text-shadow-h-offset, $text-shadow-v-offset, $text-shadow-blur, $color: $text-shadow);
  @include border-radius (3px);
  @include box-shadow (inset 0 1px 0 0 $inset-shadow,0 1px 1px 0 #fff);
  @include background(linear-gradient(top, $start-gradient, $stop-gradient));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f$stop-gradient', endColorstr='#ffstart-gradient', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  behavior: url('/css/PIE.php');
  position: relative;
  &:hover {
  	$border: scale-saturation(darken(hsl($base-hue, $base-saturation, $base-lightness), 5%), 15%);
    $inset-shadow: scale-saturation(lighten(hsl($base-hue, $base-saturation, $base-lightness), 5%), -7%);
    $start-gradient: scale-saturation(hsl($base-hue, $base-saturation, $base-lightness), 30%);
    $stop-gradient: scale-saturation(hsl($base-hue, $base-saturation, $base-lightness), 30%);
    // for light buttons
    @if $base-saturation < 20% {
      $start-gradient: lighten(hsl($base-hue, $base-saturation, $base-lightness), 10%);
      $stop-gradient: darken(hsl($base-hue, $base-saturation, $base-lightness), 15%);
      $border: desaturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 5%), 20%);
    }
    @if $base-lightness > 70% {
      $text-shadow-v-offset: 1px;
    }
  	border: 1px solid $border;
    @include background(linear-gradient(top, $start-gradient, $stop-gradient));
    @include box-shadow (inset 0 1px 0 0 $inset-shadow);
    cursor: pointer;
  }

  &:active {
    $border: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 9%);
    $inset-shadow: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 17%), 7%);

    @if $base-saturation < 11% {
    $inset-shadow: desaturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 17%), 7%);
    $border: desaturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 24%), 9%);
    }


    @include box-shadow (
    inset 0 2px 6px 0 $inset-shadow,
    inset 0 0 0 0 $inset-shadow,
    0 1px 1px 0 #eee
    );
    border: 1px solid $border;
  }
}

.btn.pull-right {
  margin-left: 10px !important;
}
.btn.pull-left {
  margin-right: 10px !important;
}
.btn.mini {
	padding: 3px 6px !important;
	font-size: 11px !important;
	line-height: 12px !important;
}
.btn.small {
	padding: 3px 8px !important;
	font-size: 12px !important;
	line-height: 14px !important;
}
.btn.medium {
	padding: 4px 12px !important;
	font-size: 14px !important;
}
.btn.large {
	padding: 8px 16px !important;
	font-size: 16px !important;
}
.btn.huge {
	padding: 12px 24px !important;
	font-size: 20px !important;
  line-height: 120% !important;
}
.btn span {
	font-size: .8em !important;
}

// Default Button
.btn,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include simple-button(0, 0%, 95%, #333);
  // IE7
  *padding-top: 2px;
  *padding-bottom: 0;
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}



.btn.red,.btn.error {
  @include simple-button(0, 100%, 38%, $color);
}
.btn.green,.btn.success {
  @include simple-button(85, 72%, 33%, $color);
}
.btn.orange,.btn.warn {
  @include simple-button(35, 94%, 51%, $color);
}
.btn.blue {
  @include simple-button(211, 72%, 43%, $color);
}
.btn.purp {
  @include simple-button(283, 100%, 36%, $color);
}
.btn.gray {
  @include simple-button(0, 0%, 57%, $color);
}
.btn.white {
  @include simple-button(0, 0%, 100%, #111);
}
.btn.black {
  @include simple-button(0, 0%, 20%, $color);
}


button {
  // IE7
  *padding-top: 1px;
  *padding-bottom: 1px;
}
