
.btn.pull-right {
  margin-left: 10px !important;
}
.btn.pull-left {
  margin-right: 10px !important;
}
.btn.mini {
	padding: 3px 6px !important;
	font-size: 11px !important;
	line-height: 12px !important;
}
.btn.small {
	padding: 3px 8px !important;
	font-size: 12px !important;
	line-height: 14px !important;
}
.btn.medium {
	padding: 4px 12px !important;
	font-size: 14px !important;
}
.btn.large {
	padding: 8px 16px !important;
	font-size: 16px !important;
}
.btn.huge {
	padding: 12px 24px !important;
	font-size: 20px !important;
  line-height: 120% !important;
}
.btn span {
	font-size: .8em !important;
}

// Default Button
.btn,
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  @include simple-button(0, 0%, 95%, #333);
  // IE7
  *padding-top: 2px;
  *padding-bottom: 0;
  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}



.btn.red,.btn.error {
  @include simple-button(0, 100%, 38%, $color);
}
.btn.green,.btn.success {
  @include simple-button(85, 72%, 33%, $color);
}
.btn.orange,.btn.warn {
  @include simple-button(35, 94%, 51%, $color);
}
.btn.blue {
  @include simple-button(211, 72%, 43%, $color);
}
.btn.purp {
  @include simple-button(283, 100%, 36%, $color);
}
.btn.gray {
  @include simple-button(0, 0%, 57%, $color);
}
.btn.white {
  @include simple-button(0, 0%, 100%, #111);
}
.btn.black {
  @include simple-button(0, 0%, 20%, $color);
}


button {
  // IE7
  *padding-top: 1px;
  *padding-bottom: 1px;
}
