#nav ul {
	float: right;
}

#nav ul,#nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float: left;
	padding: 4px 18px 0px 0px;
}
#nav ul li a {
	font-size: 14px;
	display: block;
	color: hsl(0, 0%, 60%);
	text-decoration:none;
	text-shadow: 1px 1px 0px #000;
	&:hover {
		color: $brand;
	}
}

#nav ul li.active a  {
	color: $brand;
}

a#shownav {
	display: none;
}

@media only screen and (max-width: 767px) {


#nav ul {
	float: none;
}

h1#logo {
	width: 100%;
	display: block;
}

a#shownav {
	display: block;
	float: right;
	text-indent: -9999em;
	width: 40px;
	height: 40px;
	position: absolute;
	right: 0;
	background: url(../img/shownav.png) no-repeat 0 0;
}

#nav {
	display: none;
	float: left;
	width: 100%
}

#nav ul {
	margin-top:20px;
}

#nav ul li {
	float: none;
	margin:0;
	padding:0 0 1px 0;
	line-height: 28px;
}


}

@media screen and (min-width: 767px) {

/* ensure #nav is visible on desktop version */
#nav {
	display: block !important;
}

}