/* Links */

a, a:link {
    color: $link-color;
    &:hover {
    color: $link-hover-color;
    text-decoration: none;
    }
}

.brand {
    color: $brand;
}

.brand-alt {
    color: $brand-alt;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family: $heading-font-family;
}


h1 {
    color: $h1-color;
    /* Set the font-size and line-height while keeping a proper vertical rhythm. */
    @include adjust-font-size-to( $h1-font-size );
    /* Set 1 unit of vertical rhythm on the top and bottom margins. */
    @include leader(1, $h1-font-size);
    @include trailer(1, $h1-font-size);
    font-weight: 600;
}

h2 {
    color: $h2-color;
    @include adjust-font-size-to( $h2-font-size );
    @include leader(1, $h2-font-size);
    @include trailer(1, $h2-font-size);
    font-weight: 400;
}

h3 {
    color: $h3-color;
    @include adjust-font-size-to( $h3-font-size );
    @include leader(1, $h3-font-size);
    @include trailer(1, $h3-font-size);
    font-weight: 300;
}

h4 {
    color: $h4-color;
    @include adjust-font-size-to( $h4-font-size );
    @include leader(1, $h4-font-size);
    @include trailer(1, $h4-font-size);
    font-weight: 300;
}

h5 {
    color: $h5-color;
    @include adjust-font-size-to( $h5-font-size );
    @include leader(1, $h5-font-size);
    @include trailer(1, $h5-font-size);
    font-weight: 400;
}

h6 {
    color: $h6-color;
    @include adjust-font-size-to( $h6-font-size );
    @include leader(1, $h6-font-size);
    @include trailer(1, $h6-font-size);
    font-weight: 400;
}

.emphasis {
    font-family: Sans-Serif;
    @include adjust-font-size-to( 20px );
    color: #1a1a1a;
    font-weight: 300;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

.subheading,.subheading h1,.subheading h2,.subheading h3,.subheading h4 {
    margin: 0px !important;
    padding: 0px !important;
    line-height: 100%;
}

blockquote {
    $blockquote-color: hsl(0, 0%, 93%);
    background-color: $blockquote-color;
    border-left: 4px solid darken($blockquote-color,10%);
    border-bottom: 1px solid darken($blockquote-color,5%);
    padding: 10px 10px 10px 20px;
    margin-top: $base-line-height;
    position: relative;
    font-style: italic;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

blockquote p {
    margin: 10px 0 10px 0;
    font-size: 1.25em;
}
