permalink: grid/
---
<!-- BEGIN CONTENT -->

<div class="container">
    <div class="sixteen columns">
        <h1 class="remove-bottom tighten huge">Responsive Grids</h1>
        <h3 class="dim40 text100 subheading add-bottom">Fully Customizable</h3>
    </div>
    <div class="row">
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
        <div class="one column bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">one</span>
        </div>
    </div>
    <!-- /row -->

    <div class="row">
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
        <div class="two columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">two</span>
        </div>
    </div>
    <!-- /row -->

    <div class="row">
        <div class="one-third column bgdim10 rnd half-top remove-bottom">
            <span class="pad5 aligncenter dim50">one-third</span>
        </div>
        <div class="one-third column bgdim10 rnd half-top remove-bottom">
            <span class="pad5 aligncenter dim50">one-third</span>
        </div>
        <div class="one-third column last bgdim10 rnd half-top remove-bottom">
            <span class="pad5 aligncenter dim50">one-third</span>
        </div>
    </div>
    <!-- /row -->


    <div class="row">
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
    </div>
    <!-- /row -->


    <div class="row">
        <div class="eight columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">eight</span>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">four</span>
        </div>
    </div>
    <!-- /row -->

    <div class="row">
        <div class="three columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">three</span>
        </div>
        <div class="ten columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">ten</span>
        </div>
        <div class="three columns bgdim10 rnd half-top">
            <span class="pad5 aligncenter dim50">three</span>
        </div>
    </div>
    <!-- /row -->


    <div class="row">
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad30 aligncenter dim50">four</span>
        </div>
        <div class="eight columns bgdim10 rnd half-top">
            <span class="pad10 aligncenter dim50">eight</span>
                <div class="one_third bgdim20 rnd remove-bottom">
                    <span class="pad10 aligncenter dim60">one_third (nested)</span>
                </div>
                <div class="one_third bgdim20 rnd remove-bottom">
                    <span class="pad10 aligncenter dim60">one_third (nested)</span>
                </div>
                <div class="one_third last bgdim20 rnd remove-bottom">
                    <span class="pad10 aligncenter dim60">one_third (nested)</span>
                </div>
                <div class="clear"></div>
        </div>
        <div class="four columns bgdim10 rnd half-top">
            <span class="pad30 aligncenter dim50">four</span>
        </div>
    </div>
    <!-- /row -->

</div><!-- /container -->

<!-- END CONTENT -->